---
// SE EJECUTA EN EL SERVIDOR

//import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import { MAIL } from 'astro:env/server';
import Projects from '../components/home/Projects.astro';
import AboutMe from '../components/home/AboutMe.astro';
import Skills from '../components/home/Skills.astro';
---

<Layout title='Pietrantuono Franco'>
	<main class="min-h-screen w-full space-y-6">
        <AboutMe />
        
        <Projects />
        
        <Skills />
	</main>
</Layout>