---

---


<footer class="bottom-0 mt-38 py-8 w-full z-2500 opacity-75">
  <h4 class="relative text-center text-my-white">
    Copyright © 2025 - Pietrantuono Franco

    <span class="w-36 bg-my-red rounded-full shadow-lg absolute left-1/2 transform translate-y-2 -translate-x-1/2 bottom-0 h-[2px]"></span>
  </h4>
</footer>