---
const supportedLanguages: string[] = ['es', 'en'];
const defaultLanguage: string = 'en';

const currentPath: string = Astro.url.pathname;

const languageSegment: string = currentPath.split('/')[1];

const language: string = supportedLanguages.includes(languageSegment) ? languageSegment : defaultLanguage;

if (!languageSegment || !supportedLanguages.includes(languageSegment)) {
  return Astro.redirect(`/${defaultLanguage}${currentPath}`);
}
---

<header class="sticky w-full top-5 z-1000 text-sm font-semibold flex text-white">
  {/* MEDIUM SCREENS */}
  <div class="hidden lg:block w-full flex flex-col gap-y-4">
    <div class="w-full flex gap-x-4">
      <div class="w-full flex justify-evenly items-center gap-50 px-10 bg-[#292929] border-[1px] border-[#E5E7EB55] rounded-4xl shadow-md">
        <div>
          <img src="https://res.cloudinary.com/dmfr1l3tj/image/upload/v1741597826/logo-fp_hnk3eb.webp" alt="Mi logo" class="h-10 py-1 object-cover">
        </div>

        <div>
          <nav>
            <ul class="flex">
              <li class="hover:bg-my-gray hover:shadow-sm">
                <a href="#about-me" class="px-4 py-3 block w-full h-full">{ language === "en" ? "About me" : "Sobre mí" }</a>
              </li>
              <li class="hover:bg-my-gray hover:shadow-sm">
                <a href="#projects" class="px-4 py-3 block w-full h-full">{ language === "en" ? "Projects" : "Proyectos" }</a>
              </li>
              <li class="hover:bg-my-gray hover:shadow-sm">
                <a href="#skills" class="px-4 py-3 block w-full h-full">{ language === "en" ? "Skills" : "Habilidades" }</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>

      <div>
        <button
          id="toggle-options-button"
          type="button"
          aria-label="Toggle options"
          class="flex h-full py-3 px-4 bg-[#303030] border-[1px] border-[#E5E7EB55] rounded-4xl shadow-md hover:bg-my-gray"
        >
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" color="currentColor"><path d="m21.318 7.141l-.494-.856c-.373-.648-.56-.972-.878-1.101c-.317-.13-.676-.027-1.395.176l-1.22.344c-.459.106-.94.046-1.358-.17l-.337-.194a2 2 0 0 1-.788-.967l-.334-.998c-.22-.66-.33-.99-.591-1.178c-.261-.19-.609-.19-1.303-.19h-1.115c-.694 0-1.041 0-1.303.19c-.261.188-.37.518-.59 1.178l-.334.998a2 2 0 0 1-.789.967l-.337.195c-.418.215-.9.275-1.358.17l-1.22-.345c-.719-.203-1.078-.305-1.395-.176c-.318.129-.505.453-.878 1.1l-.493.857c-.35.608-.525.911-.491 1.234c.034.324.268.584.736 1.105l1.031 1.153c.252.319.431.875.431 1.375s-.179 1.056-.43 1.375l-1.032 1.152c-.468.521-.702.782-.736 1.105s.14.627.49 1.234l.494.857c.373.647.56.971.878 1.1s.676.028 1.395-.176l1.22-.344a2 2 0 0 1 1.359.17l.336.194c.36.23.636.57.788.968l.334.997c.22.66.33.99.591 1.18c.262.188.609.188 1.303.188h1.115c.694 0 1.042 0 1.303-.189s.371-.519.59-1.179l.335-.997c.152-.399.428-.738.788-.968l.336-.194c.42-.215.9-.276 1.36-.17l1.22.344c.718.204 1.077.306 1.394.177c.318-.13.505-.454.878-1.101l.493-.857c.35-.607.525-.91.491-1.234s-.268-.584-.736-1.105l-1.031-1.152c-.252-.32-.431-.875-.431-1.375s.179-1.056.43-1.375l1.032-1.153c.468-.52.702-.781.736-1.105s-.14-.626-.49-1.234"/><path d="M15.52 12a3.5 3.5 0 1 1-7 0a3.5 3.5 0 0 1 7 0"/></g></svg>
        </button>
      </div>
    </div>

    <!-- Contenedor de opciones -->
    <div id="options" class="absolute invisible flex justify-end top-15 right-0">
      <div class="w-24 flex flex-col py-4 px-4 gap-y-4 bg-[#303030] border-[1px] border-[#E5E7EB55] rounded-4xl shadow-md">
        <div class="w-full flex justify-center">
          <button type="button" id="set-language-es">
            <svg xmlns="http://www.w3.org/2000/svg" class="rounded-l-lg shadow-md hover:scale-108 hover:shadow-lg" width="32" height="24" viewBox="0 0 640 480"><path fill="#74acdf" d="M0 0h640v480H0z"/><path fill="#fff" d="M0 160h640v160H0z"/><g id="flagAr4x30" transform="translate(-64)scale(.96)"><path id="flagAr4x31" fill="#f6b40e" stroke="#85340a" stroke-width="1.1" d="m396.8 251.3l28.5 62s.5 1.2 1.3.9c.8-.4.3-1.6.3-1.6l-23.7-64m-.7 24.2c-.4 9.4 5.4 14.6 4.7 23s3.8 13.2 5 16.5c1 3.3-1.2 5.2-.3 5.7c1 .5 3-2.1 2.4-6.8s-4.2-6-3.4-16.3s-4.2-12.7-3-22"/><use width="100%" height="100%" href="#flagAr4x31" transform="rotate(22.5 400 250)"/><use width="100%" height="100%" href="#flagAr4x31" transform="rotate(45 400 250)"/><use width="100%" height="100%" href="#flagAr4x31" transform="rotate(67.5 400 250)"/><path id="flagAr4x32" fill="#85340a" d="M404.3 274.4c.5 9 5.6 13 4.6 21.3c2.2-6.5-3.1-11.6-2.8-21.2m-7.7-23.8l19.5 42.6l-16.3-43.9"/><use width="100%" height="100%" href="#flagAr4x32" transform="rotate(22.5 400 250)"/><use width="100%" height="100%" href="#flagAr4x32" transform="rotate(45 400 250)"/><use width="100%" height="100%" href="#flagAr4x32" transform="rotate(67.5 400 250)"/></g><use width="100%" height="100%" href="#flagAr4x30" transform="rotate(90 320 240)"/><use width="100%" height="100%" href="#flagAr4x30" transform="rotate(180 320 240)"/><use width="100%" height="100%" href="#flagAr4x30" transform="rotate(-90 320 240)"/><circle cx="320" cy="240" r="26.7" fill="#f6b40e" stroke="#85340a" stroke-width="1.4"/><path id="flagAr4x33" fill="#843511" stroke-width="1" d="M329 234.3c-1.7 0-3.5.8-4.5 2.4c2 1.9 6.6 2 9.7-.2a7 7 0 0 0-5.1-2.2zm0 .4c1.8 0 3.5.8 3.7 1.6c-2 2.3-5.3 2-7.4.4q1.6-2 3.8-2z"/><use width="100%" height="100%" href="#flagAr4x35" transform="matrix(-1 0 0 1 640.2 0)"/><use width="100%" height="100%" href="#flagAr4x34" transform="matrix(-1 0 0 1 640.2 0)"/><use width="100%" height="100%" href="#flagAr4x36" transform="translate(18.1)"/><use width="100%" height="100%" href="#flagAr4x37" transform="matrix(-1 0 0 1 640.2 0)"/><path fill="#85340a" d="M316 243.7a1.8 1.8 0 1 0 1.8 2.9a4 4 0 0 0 2.2.6h.2q1 0 2.3-.6q.5.7 1.5.7a1.8 1.8 0 0 0 .3-3.6q.8.3.8 1.2a1.2 1.2 0 0 1-2.4 0a3 3 0 0 1-2.6 1.7a3 3 0 0 1-2.5-1.7q-.1 1.1-1.3 1.2q-1-.1-1.2-1.2c-.2-1.1.3-1 .8-1.2zm2 5.4c-2.1 0-3 2-4.8 3.1c1-.4 1.8-1.2 3.3-2s2.6.2 3.5.2s2-1 3.5-.2q2 1.3 3.3 2c-1.9-1.2-2.7-3-4.8-3q-.7 0-2 .6z"/><path fill="#85340a" d="M317.2 251.6q-1.1 0-3.4.6c3.7-.8 4.5.5 6.2.5c1.6 0 2.5-1.3 6.1-.5c-4-1.2-4.9-.4-6.1-.4c-.8 0-1.4-.3-2.8-.2"/><path fill="#85340a" d="M314 252.2h-.8c4.3.5 2.3 3 6.8 3s2.5-2.5 6.8-3c-4.5-.4-3.1 2.3-6.8 2.3c-3.5 0-2.4-2.3-6-2.3"/><path fill="#85340a" d="M323.7 258.9a3.7 3.7 0 0 0-7.4 0a3.8 3.8 0 0 1 7.4 0"/><path id="flagAr4x34" fill="#85340a" stroke-width="1" d="M303.4 234.3c4.7-4.1 10.7-4.8 14-1.7a8 8 0 0 1 1.5 3.4q.6 3.6-2.1 7.5l.8.4q2.4-4.7 1.6-9.4l-.6-2.3c-4.5-3.7-10.7-4-15.2 2z"/><path id="flagAr4x35" fill="#85340a" stroke-width="1" d="M310.8 233c2.7 0 3.3.6 4.5 1.7c1.2 1 1.9.8 2 1c.3.2 0 .8-.3.6q-.7-.2-2.5-1.6c-1.8-1.4-2.5-1-3.7-1c-3.7 0-5.7 3-6.1 2.8c-.5-.2 2-3.5 6.1-3.5"/><use width="100%" height="100%" href="#flagAr4x33" transform="translate(-18.4)"/><circle id="flagAr4x36" cx="310.9" cy="236.3" r="1.8" fill="#85340a" stroke-width="1"/><path id="flagAr4x37" fill="#85340a" stroke-width="1" d="M305.9 237.5c3.5 2.7 7 2.5 9 1.3c2-1.3 2-1.7 1.6-1.7s-.8.4-2.4 1.3c-1.7.8-4.1.8-8.2-.9"/></svg>
          </button>

          <button type="button" id="set-language-en">
            <svg xmlns="http://www.w3.org/2000/svg" class="rounded-r-lg shadow-md hover:scale-108 hover:shadow-lg" width="32" height="24" viewBox="0 0 640 480"><path fill="#012169" d="M0 0h640v480H0z"/><path fill="#fff" d="m75 0l244 181L562 0h78v62L400 241l240 178v61h-80L320 301L81 480H0v-60l239-178L0 64V0z"/><path fill="#c8102e" d="m424 281l216 159v40L369 281zm-184 20l6 35L54 480H0zM640 0v3L391 191l2-44L590 0zM0 0l239 176h-60L0 42z"/><path fill="#fff" d="M241 0v480h160V0zM0 160v160h640V160z"/><path fill="#c8102e" d="M0 193v96h640v-96zM273 0v480h96V0z"/></svg>
          </button>
        </div>
{/*
        <div class="w-full flex justify-center">
          <button type="button" class="w-[32px] h-[26px] flex justify-center items-center rounded-l-xl bg-light-blue hover:scale-102 hover:shadow-lg">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 30 30"><path fill="#f2f43d" d="M4.37 14.62c0-.24.08-.45.25-.62c.17-.16.38-.24.6-.24h2.04c.23 0 .42.08.58.25c.15.17.23.37.23.61s-.07.44-.22.61s-.35.25-.58.25H5.23c-.23 0-.43-.08-.6-.25a.83.83 0 0 1-.26-.61m2.86 6.93c0-.23.08-.43.23-.61l1.47-1.43c.15-.16.35-.23.59-.23s.44.08.6.23s.24.34.24.57c0 .24-.08.46-.24.64L8.7 22.14q-.615.48-1.23 0a.8.8 0 0 1-.24-.59m0-13.84c0-.23.08-.43.23-.61c.2-.17.41-.25.64-.25c.22 0 .42.08.59.24l1.43 1.47c.16.15.24.35.24.59q0 .36-.24.6c-.24.24-.36.24-.6.24s-.44-.08-.59-.24L7.47 8.32a.84.84 0 0 1-.24-.61m2.55 6.91c0-.93.23-1.8.7-2.6s1.1-1.44 1.91-1.91s1.67-.7 2.6-.7c.7 0 1.37.14 2.02.42c.64.28 1.2.65 1.66 1.12c.47.47.84 1.02 1.11 1.66s.41 1.32.41 2.02c0 .94-.23 1.81-.7 2.61s-1.1 1.43-1.9 1.9s-1.67.7-2.61.7s-1.81-.23-2.61-.7s-1.43-1.1-1.9-1.9c-.45-.81-.69-1.68-.69-2.62m4.36 7.78c0-.24.08-.44.25-.6s.37-.24.6-.24c.24 0 .45.08.61.24s.24.36.24.6v1.99c0 .24-.08.45-.25.62s-.37.25-.6.25s-.44-.08-.6-.25a.85.85 0 0 1-.25-.62zm0-15.5V4.86c0-.23.08-.43.25-.6S14.76 4 15 4s.43.08.6.25s.25.37.25.6V6.9c0 .23-.08.42-.25.58s-.37.23-.6.23s-.44-.08-.6-.23s-.26-.35-.26-.58m.11 4.32c.87.11 1.6.49 2.19 1.15s.89 1.44.89 2.33c0 .83-.26 1.56-.78 2.2c-.52.63-1.18 1.04-1.98 1.21c.2.02.35.04.44.04c.97 0 1.81-.35 2.5-1.04s1.04-1.52 1.04-2.5c0-.96-.35-1.78-1.04-2.47c-.69-.68-1.52-1.02-2.5-1.02c-.27.02-.52.05-.76.1m5.41 8.86c0-.23.08-.42.23-.56c.15-.16.34-.23.56-.23c.24 0 .44.08.6.23l1.46 1.43c.16.17.24.38.24.61s-.08.43-.24.59q-.6.465-1.2 0l-1.42-1.42a.97.97 0 0 1-.23-.65m0-10.92c0-.25.08-.45.23-.59l1.42-1.47a.84.84 0 0 1 .59-.24c.24 0 .44.08.6.25c.17.17.25.37.25.6c0 .25-.08.46-.24.62l-1.46 1.43q-.27.24-.6.24c-.23 0-.41-.08-.56-.24s-.23-.36-.23-.6m2.26 5.46c0-.24.08-.44.24-.62q.24-.24.57-.24h2.02c.23 0 .43.09.6.26s.26.37.26.6s-.09.43-.26.6s-.37.25-.6.25h-2.02c-.23 0-.43-.08-.58-.25s-.23-.36-.23-.6"/></svg>
          </button>

          <button type="button" class="w-[32px] h-[26px] flex justify-center items-center rounded-r-xl bg-dark-blue hover:scale-102 hover:shadow-lg">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 30 30"><path fill="#fff" d="M15.01 25.71c2.04 0 3.92-.5 5.65-1.51s3.09-2.37 4.09-4.1s1.51-3.61 1.51-5.65s-.5-3.92-1.51-5.65s-2.37-3.09-4.09-4.09s-3.61-1.51-5.65-1.51c1.29 1.39 2.24 3.07 2.84 5.05s.91 4.05.91 6.2c0 .88-.03 1.69-.08 2.44s-.16 1.55-.32 2.41s-.38 1.65-.64 2.37s-.63 1.43-1.09 2.15s-1.01 1.33-1.62 1.89"/></svg>
          </button>
        </div>*/}
      </div>
    </div>
  </div>



  {/* SMALL SCREENS */}
  <div class="top-5 block lg:hidden w-full flex flex-col space-y-3">
    <div class="w-full flex gap-x-4">
      <div class="w-full flex justify-between items-center px-7 bg-[#292929] border-[1px] border-[#E5E7EB55] rounded-4xl shadow-md">
        <div>
          <img src="https://res.cloudinary.com/dmfr1l3tj/image/upload/v1741656903/logo-cuadrado_t4bhgw.webp" alt="Mi logo" class="h-12 py-2 object-cover">
        </div>

        <div class="flex items-center">
          <button type="button" id="toggle-settings-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="#FEFCFB" d="M4 18q-.425 0-.712-.288T3 17t.288-.712T4 16h16q.425 0 .713.288T21 17t-.288.713T20 18zm0-5q-.425 0-.712-.288T3 12t.288-.712T4 11h16q.425 0 .713.288T21 12t-.288.713T20 13zm0-5q-.425 0-.712-.288T3 7t.288-.712T4 6h16q.425 0 .713.288T21 7t-.288.713T20 8z"/></svg>
          </button>
      </div>

      <div id="settings" class="absolute left-1/2 -translate-x-1/2 top-15 w-full px-7 bg-[#292929] border-[1px] border-[#E5E7EB55] rounded-4xl shadow-md flex flex-col">
        <div>
          <nav>
            <ul class="flex flex-col itmes-center">
              <li class="hover:bg-my-gray hover:shadow-sm">
                <a href="#about-me" class="text-center px-4 py-3 block w-full h-full">{ language === "en" ? "About me" : "Sobre mí" }</a>
              </li>
              <li class="hover:bg-my-gray hover:shadow-sm">
                <a href="#projects" class="text-center px-4 py-3 block w-full h-full">{ language === "en" ? "Projects" : "Proyectos" }</a>
              </li>
              <li class="hover:bg-my-gray hover:shadow-sm">
                <a href="#skills" class="text-center px-4 py-3 block w-full h-full">{ language === "en" ? "Skills" : "Habilidades" }</a>
              </li>
            </ul>
          </nav>
        </div>

          <div class="w-full h-[1px] bg-[#E5E7EB55]"></div>

          <div class="my-4 w-full flex justify-center">
            <button type="button" id="set-language-es-sm">
              <svg xmlns="http://www.w3.org/2000/svg" class="rounded-l-lg shadow-md hover:scale-102 hover:shadow-lg" width="32" height="24" viewBox="0 0 640 480"><path fill="#74acdf" d="M0 0h640v480H0z"/><path fill="#fff" d="M0 160h640v160H0z"/><g id="flagAr4x30" transform="translate(-64)scale(.96)"><path id="flagAr4x31" fill="#f6b40e" stroke="#85340a" stroke-width="1.1" d="m396.8 251.3l28.5 62s.5 1.2 1.3.9c.8-.4.3-1.6.3-1.6l-23.7-64m-.7 24.2c-.4 9.4 5.4 14.6 4.7 23s3.8 13.2 5 16.5c1 3.3-1.2 5.2-.3 5.7c1 .5 3-2.1 2.4-6.8s-4.2-6-3.4-16.3s-4.2-12.7-3-22"/><use width="100%" height="100%" href="#flagAr4x31" transform="rotate(22.5 400 250)"/><use width="100%" height="100%" href="#flagAr4x31" transform="rotate(45 400 250)"/><use width="100%" height="100%" href="#flagAr4x31" transform="rotate(67.5 400 250)"/><path id="flagAr4x32" fill="#85340a" d="M404.3 274.4c.5 9 5.6 13 4.6 21.3c2.2-6.5-3.1-11.6-2.8-21.2m-7.7-23.8l19.5 42.6l-16.3-43.9"/><use width="100%" height="100%" href="#flagAr4x32" transform="rotate(22.5 400 250)"/><use width="100%" height="100%" href="#flagAr4x32" transform="rotate(45 400 250)"/><use width="100%" height="100%" href="#flagAr4x32" transform="rotate(67.5 400 250)"/></g><use width="100%" height="100%" href="#flagAr4x30" transform="rotate(90 320 240)"/><use width="100%" height="100%" href="#flagAr4x30" transform="rotate(180 320 240)"/><use width="100%" height="100%" href="#flagAr4x30" transform="rotate(-90 320 240)"/><circle cx="320" cy="240" r="26.7" fill="#f6b40e" stroke="#85340a" stroke-width="1.4"/><path id="flagAr4x33" fill="#843511" stroke-width="1" d="M329 234.3c-1.7 0-3.5.8-4.5 2.4c2 1.9 6.6 2 9.7-.2a7 7 0 0 0-5.1-2.2zm0 .4c1.8 0 3.5.8 3.7 1.6c-2 2.3-5.3 2-7.4.4q1.6-2 3.8-2z"/><use width="100%" height="100%" href="#flagAr4x35" transform="matrix(-1 0 0 1 640.2 0)"/><use width="100%" height="100%" href="#flagAr4x34" transform="matrix(-1 0 0 1 640.2 0)"/><use width="100%" height="100%" href="#flagAr4x36" transform="translate(18.1)"/><use width="100%" height="100%" href="#flagAr4x37" transform="matrix(-1 0 0 1 640.2 0)"/><path fill="#85340a" d="M316 243.7a1.8 1.8 0 1 0 1.8 2.9a4 4 0 0 0 2.2.6h.2q1 0 2.3-.6q.5.7 1.5.7a1.8 1.8 0 0 0 .3-3.6q.8.3.8 1.2a1.2 1.2 0 0 1-2.4 0a3 3 0 0 1-2.6 1.7a3 3 0 0 1-2.5-1.7q-.1 1.1-1.3 1.2q-1-.1-1.2-1.2c-.2-1.1.3-1 .8-1.2zm2 5.4c-2.1 0-3 2-4.8 3.1c1-.4 1.8-1.2 3.3-2s2.6.2 3.5.2s2-1 3.5-.2q2 1.3 3.3 2c-1.9-1.2-2.7-3-4.8-3q-.7 0-2 .6z"/><path fill="#85340a" d="M317.2 251.6q-1.1 0-3.4.6c3.7-.8 4.5.5 6.2.5c1.6 0 2.5-1.3 6.1-.5c-4-1.2-4.9-.4-6.1-.4c-.8 0-1.4-.3-2.8-.2"/><path fill="#85340a" d="M314 252.2h-.8c4.3.5 2.3 3 6.8 3s2.5-2.5 6.8-3c-4.5-.4-3.1 2.3-6.8 2.3c-3.5 0-2.4-2.3-6-2.3"/><path fill="#85340a" d="M323.7 258.9a3.7 3.7 0 0 0-7.4 0a3.8 3.8 0 0 1 7.4 0"/><path id="flagAr4x34" fill="#85340a" stroke-width="1" d="M303.4 234.3c4.7-4.1 10.7-4.8 14-1.7a8 8 0 0 1 1.5 3.4q.6 3.6-2.1 7.5l.8.4q2.4-4.7 1.6-9.4l-.6-2.3c-4.5-3.7-10.7-4-15.2 2z"/><path id="flagAr4x35" fill="#85340a" stroke-width="1" d="M310.8 233c2.7 0 3.3.6 4.5 1.7c1.2 1 1.9.8 2 1c.3.2 0 .8-.3.6q-.7-.2-2.5-1.6c-1.8-1.4-2.5-1-3.7-1c-3.7 0-5.7 3-6.1 2.8c-.5-.2 2-3.5 6.1-3.5"/><use width="100%" height="100%" href="#flagAr4x33" transform="translate(-18.4)"/><circle id="flagAr4x36" cx="310.9" cy="236.3" r="1.8" fill="#85340a" stroke-width="1"/><path id="flagAr4x37" fill="#85340a" stroke-width="1" d="M305.9 237.5c3.5 2.7 7 2.5 9 1.3c2-1.3 2-1.7 1.6-1.7s-.8.4-2.4 1.3c-1.7.8-4.1.8-8.2-.9"/></svg>
            </button>
  
            <button type="button" id="set-language-en-sm">
              <svg xmlns="http://www.w3.org/2000/svg" class="rounded-r-lg shadow-md hover:scale-102 hover:shadow-lg" width="32" height="24" viewBox="0 0 640 480"><path fill="#012169" d="M0 0h640v480H0z"/><path fill="#fff" d="m75 0l244 181L562 0h78v62L400 241l240 178v61h-80L320 301L81 480H0v-60l239-178L0 64V0z"/><path fill="#c8102e" d="m424 281l216 159v40L369 281zm-184 20l6 35L54 480H0zM640 0v3L391 191l2-44L590 0zM0 0l239 176h-60L0 42z"/><path fill="#fff" d="M241 0v480h160V0zM0 160v160h640V160z"/><path fill="#c8102e" d="M0 193v96h640v-96zM273 0v480h96V0z"/></svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>  
</header>

<script>
  const toggleOptionsButton = document.getElementById('toggle-options-button');
  const options = document.getElementById('options');

  options?.classList.add('invisible');

  toggleOptionsButton?.addEventListener('click', () => {
    if (options?.classList.contains('invisible')) {
      options.classList.remove('invisible');
      options.classList.add('visible');
      toggleOptionsButton?.classList.add('[box-shadow:inset_0_0_0_1px_#000]');
    } else {
      options?.classList.remove('visible');
      options?.classList.add('invisible');
      toggleOptionsButton?.classList.remove('[box-shadow:inset_0_0_0_1px_#000]');
    }
  });
</script>

<script>
  const toggleSettingsButton = document.getElementById('toggle-settings-button');
  const settings = document.getElementById('settings');

  settings?.classList.add('invisible');

  toggleSettingsButton?.addEventListener('click', () => {
    if (settings?.classList.contains('invisible')) {
      settings.classList.remove('invisible');
      settings.classList.add('visible');
      toggleSettingsButton?.classList.add('[box-shadow:inset_0_0_0_1px_#000]');
    } else {
      settings?.classList.remove('visible');
      settings?.classList.add('invisible');
      toggleSettingsButton?.classList.remove('[box-shadow:inset_0_0_0_1px_#000]');
    }
  });
</script>

<script>
  const setLanguageEnButton = document.getElementById('set-language-en');
  const setLanguageEsButton = document.getElementById('set-language-es');
  const setLanguageEnButtonSm = document.getElementById('set-language-en-sm');
  const setLanguageEsButtonSm = document.getElementById('set-language-es-sm');


  setLanguageEnButton?.addEventListener('click', () => {
    window.location.href = "/en";
  });

  setLanguageEsButton?.addEventListener('click', () => {
    window.location.href = "/es";
  });

  setLanguageEnButtonSm?.addEventListener('click', () => {
    window.location.href = "/en";
  });

  setLanguageEsButtonSm?.addEventListener('click', () => {
    window.location.href = "/es";
  });
</script>