---
import Layout from '../../../layouts/Layout.astro';
import { getCollection, render } from "astro:content"

export async function getStaticPaths() {
  const projects = await getCollection('projects');
  const supportedLanguages = ['en', 'es']; // Idiomas soportados

  const paths = supportedLanguages.flatMap((lang) => {
    return projects.map((project) => ({
      params: { lang, id: project.slug },
      props: { project },
    }));
  });

  return paths;
}

const { project } = Astro.props;
const { data, slug } = project;
const { title, img } = data;

const { Content } = await render(project);

export const prerender = true;
---

<Layout title={`Project - ${title}`}>


  <!-- Contenido principal -->
  <div class="w-full flex">
    <div class="w-full p-10 flex flex-col justify-center items-center text-center space-y-6">
      <h1 class="text-my-white text-5xl font-bold">{ title }</h1>

      <div class="w-full h-[1px] bg-my-gray"></div>
      
      <!-- Banner de la imagen -->
      <div class="w-full">
        <img
          transition:name={`logo-${slug}`}
          src={img}
          alt={`Logo de ${slug}`}
          class="mt-0 w-full h-full object-cover drop-shadow-md"
        />
      </div>

      <div class="prose">
        <Content />
      </div>
    </div>
  </div>
</Layout>